fastapi
psycopg2-binary
sqlalchemy
uvicorn
gunicorn
upstash-redis==0.14.1
python-multipart
cryptography
requests
pyzipper
opencv-python-headless
numpy
zxing-cpp
firebase-admin==6.5.0
httpx
apscheduler
staticmap